* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150,114,89);
}

.container {
    display: flex;
    flex-direction: column;
}

.container button {
    border: none;
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
    margin: 1rem auto;
    border-radius: 2rem;
    color: black;
    border: 2px solid rgb(56,34,15);
}

.container .yes {
    background-color: rgb(99,72,50);
}

.container .yes:hover {
    cursor: pointer;
    background-color: rgb(219,193,172);
}

.container .yes:active {
    background-color: rgb(236,224,209);
}

.container .no {
    background-color: rgb(99,72,50);
    transition: transform 0.2s ease;
}

.result {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219,193,172);
    color: rgb(0, 0, 0);
}

.result h2 {
    font-size: 2.5rem;
    text-align: center;
}